[submodule "bsg_f1"]
	path = bsg_f1
	url = git@github.com:hwpeng/bsg_f1.git
[submodule "bsg_manycore"]
	path = bsg_manycore
	url = git@github.com:hwpeng/bsg_manycore.git
[submodule "basejump_stl"]
	path = basejump_stl
	url = git@github.com:hwpeng/basejump_stl
[submodule "aws-fpga"]
	path = aws-fpga
	url = git@github.com:aws/aws-fpga.git
[submodule "drlp"]
	path = drlp
	url = https://github.com/hwpeng/drlp.git
